body{
  margin: 0;
  font-family: helvetica;
  position: relative;
}
.mouse{
  position: absolute;
  background-color: orange;
}
.asteroid{
  /*background-image: url('asteroid.png');
  background-size: 100% 100%;*/
  border: 2px solid black;
  border-radius: 100px;
  position: absolute;
}
.scoreboard{
  width: 250px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  border-radius: 3px;
}
.scoreboard div{
  line-height: 33px;
  font-size: 25px;
  float: right;
}

/*body {
  position: relative;
  background-color: lightgray;
}

.board {
  background-color: white;
  cursor: none;
}

.crosshairs {
  fill: red;
}

.player {
  fill: green;
}

.enemy {
  fill: orange;
}

.bullet {
  fill: black;
}*/
