body {
  position: relative;
  background-color: lightgray;
}

.board {
  background-color: lightgray;
  cursor: none;
}

.svg-canvas {
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
}

.paused {
  background: pink;
}

.crosshairs {
  fill: blue;
}

.player {
  fill: green;
}

.enemy {
  fill: orange;
}

.bullet {
  fill: black;
}
